.main {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #d7d7d7;
  border-bottom: 0px;

}

a{
  padding-left: 10px;
}
.addContact{
  position: relative;
  padding-bottom: 0px;
  height: 30px;
}
.addNumber {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
}

.addContact button{
  height: 40px;
  width: 70px;
  padding: 5px;
}


ul{
  list-style: none;
  font-size: 20px;
  color: #686868;
  margin-left: -40px;
  margin-bottom: 0px;
}
li{
  border-bottom: 1px solid #bfbfbf;
  background-color: #d7d7d7;
  padding: 10px 0px;
  margin-bottom: 5px;
}

.remove{
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 30px;
}


